{% extends 'base.html' %}
{% block start %}
    <h1> Hi Gaurav Mishra, how are you doing?</h1>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Voting</th>
    </tr>
  </thead>
  <tbody>
    {% for person in people%}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ person.name }}</td>
      <td>{{ person.age }}</td>
      <td>
        {% if person.age > 30 %}
        👍
        {% else %}
        👎
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
    <h2>this is a basic html page using Django routing.</h2>
    <h2>{{ textwa|title }}</h2>
    <a href="/contact/">contact</a>|
    <a href="/about/">about</a>|
{% endblock %}